* {
  font-family: 'Zilla Slab', serif;
  letter-spacing: 1px;
}

html, body {
  background: #e2e2e2;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 2px;
  color: rgba(0, 0, 0, 84);
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.button.primary {
  background: #3F51B5;
  color: #fff;
  transition: all .3s ease-out;
}

.button.primary:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}